.vscode
*.pyc
*.pyo
*.pt
*.pth
__pycache__
checkpoints
checkpoint*
result
runs
.ssh*
.rsyncignore
bak
*.zip
*.tar
*.tar.gz
*.log
*.pid
*.out
*.pth
*.ckpt
*.onnx
*.tfevents*
results
raw_data
processed_data
latest_training_result*
paper_figures/*.pdf
